@import "./generic.scss";

:global {
  .selection-checkbox {
    cursor: pointer;
    padding-right: 10px;
    &.is-disabled {
      @extend .disabled;
    }
  }

  .selection-item {
    flex: 1 1 auto;
    align-items: center;
    cursor: pointer;
    &.is-disabled {
      @extend .disabled;
    }
  }
}
